# 「イーサネットじょい君」専用ドライバ joynetd.x 設定ファイル joynetd.cfg

#------------------------------------------------------------------------------
# mac: MAC アドレスの設定
# 「イーサネットじょい君」は内蔵のMACアドレスを持たないため、通常は初回起動時に
# ランダムに生成したアドレスを使用します
# 生成されたアドレスが他の機器と重複するなどの問題が生じた場合は、以下のアドレスを
# 変更してください

mac=%s

#------------------------------------------------------------------------------
# port: ジョイスティックポート番号
# 「イーサネットじょい君」を接続するジョイスティックポート番号を指定します
# (0:自動認識(デフォルト) / 1:ポート1 / 2:ポート2)
# コマンドラインオプションの -p / -j の指定が優先されます

;port=0

#------------------------------------------------------------------------------
# trap: APIが使用するtrap番号
# ネットワークAPIで使用するtrap番号を指定します
# (-2: trapは使用しない / -1: 空いている番号を使用(デフォルト) / 0～7:trap #0～#7を使用)
# コマンドラインオプションの -t の指定が優先されます

;trap=-1

#------------------------------------------------------------------------------
# ifname: ネットワークインターフェース名
# ifconfig等で使用するネットワークインターフェース名を指定します (デフォルト:en0)
# コマンドラインオプションの -i の指定が優先されます

;ifname=en0

#------------------------------------------------------------------------------
# 以下は joynetd.x 起動時のデフォルトのネットワーク設定です
# 別途 ifconfig、inetdconf コマンドで設定を行う場合や、DHCP クライアントを
# 使用して自動的に設定を行う場合は省略可能です。

# ip: IPアドレス
# 「イーサネットじょい君」に割り当てるIPアドレスを指定します

;ip=192.168.1.100

# mask: サブネットマスク
# 「イーサネットじょい君」を接続するネットワークで使用しているサブネットマスク
# を指定します

;mask=255.255.255.0

# gw: デフォルトゲートウェイ
# 「イーサネットじょい君」を接続するネットワークのデフォルトゲートウェイの
# IPアドレスを指定します (通常はルーターのIPアドレスになります)

;gw=192.168.1.1

# dns: DNSサーバ
# 「イーサネットじょい君」を接続するネットワークのDNSサーバのIPアドレスを
# 指定します (通常はルーターのIPアドレスになります)

;dns=192.168.1.1

# domain: 
# 「イーサネットじょい君」を接続するネットワークのデフォルトドメイン名を
# 指定します

;domain=

# (EOF)
