# 「イーサネットじょい君」専用ドライバ joynetd.x 設定ファイル joynetd.cfg

#------------------------------------------------------------------------------

# mac: MAC アドレスの設定
# 「イーサネットじょい君」は内蔵のMACアドレスを持たないため、ユーザが
# 同一ネットワーク上の他の機器と重複しない任意のアドレスを設定する必要が
# あります。
# 設定を省略すると起動時にランダムに生成したアドレスを使用しますが、
# 起動のたびに異なるアドレスが使用されると他の機器との接続に支障が出る
# 可能性があるため、MACアドレスは必ず設定することを推奨します。
# 以下のコメントを外してMACアドレスを指定してください

;mac=02:03:04:05:06:07

#------------------------------------------------------------------------------
# 以下は joynetd.x 起動時のデフォルトのネットワーク設定です
# 別途 ifconfig、inetdconf コマンドで設定を行う場合や、DHCP クライアントを
# 使用して自動的に設定を行う場合は省略可能です。

# ip: IPアドレス
# 「イーサネットじょい君」に割り当てるIPアドレスを指定します

;ip=192.168.1.100

# mask: サブネットマスク
# 「イーサネットじょい君」を接続するネットワークで使用しているサブネットマスク
# を指定します

;mask=255.255.255.0

# gw: デフォルトゲートウェイ
# 「イーサネットじょい君」を接続するネットワークのデフォルトゲートウェイの
# IPアドレスを指定します (通常はルーターのIPアドレスになります)

;gw=192.168.1.1

# dns: DNSサーバ
# 「イーサネットじょい君」を接続するネットワークのDNSサーバのIPアドレスを
# 指定します (通常はルーターのIPアドレスになります)

;dns=192.168.1.1

# (EOF)
