# 「WiFi+PCMパイルダー for PilederX」専用ドライバ winetd.x 設定ファイル winetd.cfg

#------------------------------------------------------------------------------
# trap: APIが使用するtrap番号
# ネットワークAPIで使用するtrap番号を指定します
# (-2: 空いている番号を使用(デフォルト) / -1: trapは使用しない / 0～7:trap #0～#7を使用)
# コマンドラインオプションの -t の指定が優先されます

%strap=%d

#------------------------------------------------------------------------------
# ifname: ネットワークインターフェース名
# ifconfig等で使用するネットワークインターフェース名を指定します (デフォルト:en0)
# コマンドラインオプションの -i の指定が優先されます

%sifname=%s

#------------------------------------------------------------------------------
# ssid: WiFiアクセスポイントSSID
# 常駐時に接続するWiFiアクセスポイントのSSIDを指定します
# 省略すると常駐時のアクセスポイントへの接続を行いません
# コマンドラインオプションの -s の指定が優先されます

%sssid=%s

#------------------------------------------------------------------------------
# passwd: WiFiアクセスポイントパスワード
# 常駐時に接続するWiFiアクセスポイントのパスワードを指定します
# コマンドラインオプションの -s の指定が優先されます

%spasswd=%s

#------------------------------------------------------------------------------
# dhcp: DHCP使用モード
# 常駐時にネットワーク設定をDHCPで取得するかどうかを指定します
# (0:DHCPを使用しない / 1:DHCPを使用する(デフォルト))
# コマンドラインオプションの -d の指定が優先されます

%sdhcp=%d

#------------------------------------------------------------------------------
# hostname: ホスト名
# ネットワーク設定をDHCPで取得した際にDHCPサーバを通してDNSに設定するホスト名を
# 指定します
# コマンドラインオプションの -h の指定が優先されます

%shostname=%s

#------------------------------------------------------------------------------
# 以下は winetd.x 起動時のデフォルトのネットワーク設定です
# 別途 ifconfig、inetdconf コマンドで設定を行う場合や、DHCP クライアントを
# 使用して自動的に設定を行う場合は省略可能です。

# ip: IPアドレス
# 「WiFi+PCMパイルダー」に割り当てるIPアドレスを指定します

;ip=192.168.1.100

# mask: サブネットマスク
# 「WiFi+PCMパイルダー」を接続するネットワークで使用しているサブネットマスク
# を指定します

;mask=255.255.255.0

# gw: デフォルトゲートウェイ
# 「WiFi+PCMパイルダー」を接続するネットワークのデフォルトゲートウェイの
# IPアドレスを指定します (通常はルーターのIPアドレスになります)

;gw=192.168.1.1

# dns: DNSサーバ
# 「WiFi+PCMパイルダー」を接続するネットワークのDNSサーバのIPアドレスを
# 指定します (通常はルーターのIPアドレスになります)

;dns=192.168.1.1

# domain: 
# 「WiFi+PCMパイルダー」を接続するネットワークのデフォルトドメイン名を
# 指定します

;domain=

# (EOF)
